<nav class="navbar-home p-2">
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <div>
          <a routerLink="">
            <img class="logo" src="assets/img/..." alt="">
          </a>
          <div>
            <h4 class="text-bold"><span class="text-white">Agropedia</span></h4>
          </div>
         
        </div>
        <span class="links text-white text-bold">
            <a routerLink="/homepage" routerLinkActive="active">Home</a>
            <a routerLink="/search-plant" routerLinkActive="active">Search Plant</a>

          </span>
      </div>
    </div>
  </nav>
